<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test</h1>
    <form action="/generate" method="post">
        <input type="email" name="email" placeholder="Email" value="daiyankatali@gmail.com">
        <input type="text" name="topic" placeholder="Topic" value="islam">
        <input type="number" name="amount" placeholder="Amount" value="3">
        <button type="submit">Submit</button>
    </form> 
</body>
</html>